@charset "UTF-8";
:root {
  --primary-color: #2f303a;
  --bg-main-color: #e5e5e5;
  --bg-second-color: #f5f4fa;
  --accent-color: #2196f3;
  --primary-text-color: #212121;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --main-font: 'Roboto', sans-serif;
  --font-family-logo: 'Raleway';
}

body {
  color: #212121;
  font-family: "Roboto", sans-serif;
}

ul,
li,
h1,
h2,
h3,
p {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  margin: auto;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

a {
  text-decoration: none;
}

.heading {
  text-align: center;
  font-size: 28px;
  line-height: 1.17;
  font-weight: 700;
}

@media screen and (min-width: 1200px) {
  .heading {
    font-size: 36px;
    line-height: 1.13;
  }
}

.invitation__title, .footer-form__label {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  color: #ffffff;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.header {
  position: relative;
}

@media screen and (min-width: 768px) {
  .header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 1px solid #ececec;
  }
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 480px) {
  .container-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.logo {
  display: block;
  font-family: "Raleway";
  font-weight: 400;
  letter-spacing: 0.03em;
  font-size: 24px;
  line-height: 1.16;
  color: var(--accent-color);
  text-decoration: none;
  margin: 16px 0 16px;
}

.logo .logo__header--accent {
  color: #000000;
}

@media screen and (min-width: 768px) {
  .logo {
    margin: 26px 88px 26px 0;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    margin-right: 93px;
    font-size: 26px;
    line-height: 1.17;
    font-weight: 700;
  }
}

.logo__menu {
  position: absolute;
  top: 10px;
  right: 15px;
  z-index: 4;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  z-index: 2;
}

.logo__menu:hover, .logo__menu:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .logo__menu {
    display: none;
  }
}

.logo__menu .logo__icon-close {
  display: none;
}

.logo__menu.is-open .logo__icon-close {
  display: block;
}

.logo__menu.is-open .logo__icon-open {
  display: none;
}

.container-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .site-nav__list:not(:first-child) {
    margin-left: 50px;
  }
}

.menu-navigation {
  display: none;
  background-color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.menu-navigation.is-open {
  display: block;
  padding: 48px 40px;
}

@media screen and (min-width: 481px) {
  .menu-navigation {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: static;
  }
}

@media screen and (min-width: 1200px) {
  .menu-navigation {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 481px) {
  .site-nav__item {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .site-nav__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .site-nav__list {
    position: relative;
  }
}

.site-nav__link {
  display: block;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.47;
  letter-spacing: 0.02em;
  padding-bottom: 32px;
  color: var(--primary-text-color);
  -webkit-transition: color var(--transition);
  -o-transition: color var(--transition);
  transition: color var(--transition);
}

.site-nav__link:hover, .site-nav__link:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 481px) {
  .site-nav__link {
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.site-nav__link--current {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .site-nav__link--current::after {
    position: absolute;
    content: '';
    display: inline-block;
    width: 100%;
    height: 4px;
    background-color: #2196f3;
    -webkit-border-radius: 2px;
            border-radius: 2px;
    bottom: -3px;
    left: 0;
  }
}

@media screen and (min-width: 481px) {
  .menu-contact {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .menu-contact {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .menu-contact {
    margin-left: 210px;
  }
}

.nav-contact {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -webkit-flex-flow: column-reverse;
      -ms-flex-flow: column-reverse;
          flex-flow: column-reverse;
  margin-top: 302px;
}

@media screen and (min-width: 481px) {
  .nav-contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column;
        -ms-flex-flow: column;
            flex-flow: column;
    margin-top: 21px;
    margin-bottom: 21px;
    margin-left: 80px;
  }
}

@media screen and (min-width: 1200px) {
  .nav-contact {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (min-width: 481px) {
  .nav-contact__list {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

@media screen and (min-width: 1200px) {
  .nav-contact__list {
    margin-left: 30px;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.nav-contact__list:not(:last-child) {
  padding-top: 32px;
}

@media screen and (min-width: 481px) {
  .nav-contact__list:not(:last-child) {
    padding-top: 0;
  }
}

@media screen and (min-width: 768px) {
  .nav-contact__list:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .nav-contact__list:not(:last-child) {
    margin-bottom: 0;
  }
}

.nav-contact__contact {
  color: #757575;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.16px;
}

@media screen and (min-width: 481px) {
  .nav-contact__contact {
    font-size: 12px;
  }
  .nav-contact__contact:hover, .nav-contact__contact:focus {
    color: #2196f3;
  }
}

@media screen and (min-width: 1200px) {
  .nav-contact__contact {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 14px;
    line-height: 1.14px;
  }
}

@media screen and (max-width: 480px) {
  .nav-contact__contact.nav-contact__tel {
    color: var(--accent-color);
    font-size: 34px;
    line-height: 1.17;
  }
}

.nav-contact__icon {
  display: none;
}

@media screen and (min-width: 768px) {
  .nav-contact__icon {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    fill: currentColor;
    margin-right: 10px;
  }
}

.nav-contact__social {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-top: 64px;
}

@media screen and (min-width: 481px) {
  .nav-contact__social {
    display: none;
  }
}

.nav-contact__social-list:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.nav-contact__social-media {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.22;
  color: var(--accent-color);
}

.nav-contact__social-list {
  padding: 10px;
}

.nav-contact__social-list:first-child {
  padding-left: 0;
}

/* Section hero */
.hero {
  margin: 0 auto;
  background-color: #c4c4c4;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.5)), to(rgba(47, 48, 58, 0.3))), url(../images/heroimg.jpg);
  background-image: -webkit-linear-gradient(left, rgba(47, 48, 58, 0.5), rgba(47, 48, 58, 0.3)), url(../images/heroimg.jpg);
  background-image: -o-linear-gradient(left, rgba(47, 48, 58, 0.5), rgba(47, 48, 58, 0.3)), url(../images/heroimg.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.5), rgba(47, 48, 58, 0.3)), url(../images/heroimg.jpg);
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover;
}

@media (min-device-pixel-ratio: 2), (min-resolutiion: 192dpi), (min-resollution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.5)), to(rgba(47, 48, 58, 0.3))), url(../images/Headerimg@3x.jpg);
    background-image: -webkit-linear-gradient(left, rgba(47, 48, 58, 0.5), rgba(47, 48, 58, 0.3)), url(../images/Headerimg@3x.jpg);
    background-image: -o-linear-gradient(left, rgba(47, 48, 58, 0.5), rgba(47, 48, 58, 0.3)), url(../images/Headerimg@3x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.5), rgba(47, 48, 58, 0.3)), url(../images/Headerimg@3x.jpg);
  }
}

@media (min-device-pixel-ratio: 3), (min-resolutiion: 288dpi), (min-resollution: 3dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.5)), to(rgba(47, 48, 58, 0.3))), url(../images/headerimg@3x.jpg);
    background-image: -webkit-linear-gradient(left, rgba(47, 48, 58, 0.5), rgba(47, 48, 58, 0.3)), url(../images/headerimg@3x.jpg);
    background-image: -o-linear-gradient(left, rgba(47, 48, 58, 0.5), rgba(47, 48, 58, 0.3)), url(../images/headerimg@3x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.5), rgba(47, 48, 58, 0.3)), url(../images/headerimg@3x.jpg);
  }
}

.hero__title {
  text-align: center;
  margin: auto;
  font-weight: 900;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 26px;
  line-height: 1.61;
  max-width: 360px;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    max-width: 650px;
  }
}

/* кнопка в hero */
.hero__button {
  display: block;
  margin: auto;
  margin-top: 30px;
  padding: 10px 33px;
  color: #ffffff;
  background-color: var(--accent-color);
  font-style: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border: 0;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  -webkit-transition: background-color var(--transition), -webkit-box-shadow var(--transition);
  transition: background-color var(--transition), -webkit-box-shadow var(--transition);
  -o-transition: background-color var(--transition), box-shadow var(--transition);
  transition: background-color var(--transition), box-shadow var(--transition);
  transition: background-color var(--transition), box-shadow var(--transition), -webkit-box-shadow var(--transition);
}

.hero__button:hover, .hero__button:focus {
  background-color: #188ce8;
  -webkit-box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* section princeples of work*/
.hidden {
  width: 1px;
  height: 1px;
  overflow: hidden;
  opacity: 0;
  margin-top: -1px;
}

.benefits-list {
  display: block;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .benefits-list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .benefits-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
  }
}

.benefits-list__item:not(:first-child) {
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .benefits-list__item:not(:first-child) {
    margin-top: 0;
  }
}

@media screen and (min-width: 1200px) {
  .benefits-list__item:not(:first-child) {
    margin-left: 30px;
  }
}

.benefits-list__icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f5f4fa;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  height: 120px;
}

.benefits-list__heading {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  padding-top: 30px;
  letter-spacing: 0.03em;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .benefits-list__heading {
    text-align: left;
  }
}

.benefits-list__text {
  margin-top: 10px;
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.section.contain {
  padding-bottom: 0;
  padding-top: 0;
}

.container-work {
  display: none;
}

@media screen and (min-width: 1200px) {
  .container-work {
    display: block;
  }
}

.work-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
}

.work-list__item:not(:first-child) {
  margin-left: 30px;
}

.work-list__thumb {
  position: relative;
}

.work-list__wrap {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  border: 1px solid #000000;
}

.work-list__text {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.17;
  color: #ffffff;
  text-transform: uppercase;
}

/* Our team */
.team.section {
  background-color: #f5f4fa;
}

.team {
  display: block;
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .team {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 50px;
  }
}

.team__item {
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 0px 0px 4px 4px;
          border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 1200px) {
  .team__item:not(:first-child) {
    margin-left: 30px;
  }
}

.card-content__name,
.card-content__subtitle {
  text-align: center;
  font-size: 16px;
  line-height: 1.17;
}

.card-content__name {
  margin-top: 30px;
}

.card-content__subtitle {
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 16px;
  color: #757575;
  font-weight: 400;
}

.icon-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 16px;
  margin-bottom: 30px;
  padding-bottom: 24px;
}

.icon-list__item:not(:first-child) {
  margin-left: 10px;
}

.icon-list__link {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-transition: background-color var(--transition);
  -o-transition: background-color var(--transition);
  transition: background-color var(--transition);
}

.icon-list__link:hover, .icon-list__link:focus {
  background-color: var(--accent-color);
}

.icon-list__symbol {
  fill: #afb1b8;
  -webkit-transition: fill var(--transition);
  -o-transition: fill var(--transition);
  transition: fill var(--transition);
}

.icon-list__link:hover .icon-list__symbol,
.icon-list__link:focus .icon-list__symbol {
  fill: #ffffff;
}

/* Постоянные клиенты */
.client-title {
  line-height: 1.16;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .client-title {
    margin-bottom: 50px;
  }
}

.client-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

@media screen and (min-width: 768px) {
  .client-list {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  .client-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    gap: 0;
  }
}

@media screen and (min-width: 1200px) {
  .client-list__item:not(:first-child) {
    margin-left: 30px;
  }
}

.client-list__link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 210px;
  height: 92px;
  border: 1px solid #afb1b8;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  -webkit-transition: border-color var(--transition);
  -o-transition: border-color var(--transition);
  transition: border-color var(--transition);
}

.client-list__link:hover, .client-list__link:focus {
  border-color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .client-list__link {
    width: 170px;
  }
}

.client-list__icon {
  fill: #afb1b8;
  -webkit-transition: fill var(--transition);
  -o-transition: fill var(--transition);
  transition: fill var(--transition);
}

.client-list__link:hover .client-list__icon,
.client-list__link:focus .client-list__icon {
  fill: var(--accent-color);
}

/* Footer */
.footer-wrap {
  background-color: var(--primary-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .footer-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .footer-container {
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
  }
}

.logo__footer {
  color: #ffffff;
}

.footer-adress .logo {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer-adress .logo {
    margin: 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer-adress .logo {
    text-align: left;
  }
}

.location {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  text-decoration: none;
  font-style: normal;
  margin-top: 20px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .location {
    text-align: left;
  }
}

.footer-contact {
  margin-top: 9px;
}

.footer-contact__link {
  color: rgba(255, 255, 255, 0.6);
}

.invitation {
  margin-top: 60px;
}

@media screen and (min-width: 768px) {
  .invitation {
    margin-top: 5px;
    margin-right: 89px;
  }
}

@media screen and (min-width: 1200px) {
  .invitation {
    margin-left: 70px;
  }
}

.invitation__title {
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .invitation__title {
    text-align: left;
  }
}

.link-footer {
  background: rgba(255, 255, 255, 0.1);
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

.link-footer .icon-list__symbol {
  fill: #ffffff;
}

/* form */
.footer-form {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer-form {
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-left: 93px;
    margin-top: 0;
  }
}

.footer-form__label {
  display: block;
  letter-spacing: 0.03em;
}

.footer-form__input {
  width: 450px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  -webkit-border-radius: 4px;
          border-radius: 4px;
  background-color: var(--primary-color);
  -webkit-background-origin: border-box;
          background-origin: border-box;
  padding-left: 16px;
  caret-color: #ffffff;
  color: #ffffff;
}

.footer-form__input:hover, .footer-form__input:focus {
  outline: none;
  border: 1px solid var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .footer-form__input {
    width: 358px;
  }
}

.footer-form__input::-webkit-input-placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

.footer-form__input:-ms-input-placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

.footer-form__input::-ms-input-placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

.footer-form__input::placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

.footer-form__button {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-left: 12px;
  height: 50px;
  padding: 10px 28px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: var(--accent-color);
  -webkit-border-radius: 4px;
          border-radius: 4px;
  border: 0;
  cursor: pointer;
  -webkit-transition: background-color var(--transition), -webkit-box-shadow var(--transition);
  transition: background-color var(--transition), -webkit-box-shadow var(--transition);
  -o-transition: background-color var(--transition), box-shadow var(--transition);
  transition: background-color var(--transition), box-shadow var(--transition);
  transition: background-color var(--transition), box-shadow var(--transition), -webkit-box-shadow var(--transition);
  margin-top: 20px;
}

.footer-form__button:hover, .footer-form__button:focus {
  background-color: #188ce8;
  -webkit-box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 1200px) {
  .footer-form__button {
    margin-top: 0;
  }
}

.footer-form__icon {
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity var(--transition), visibility var(--transition);
  -o-transition: opacity var(--transition), visibility var(--transition);
  transition: opacity var(--transition), visibility var(--transition);
  z-index: 4;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 60%;
  left: 50%;
  width: 450px;
  min-height: 609px;
  -webkit-transform: translate(-50%, -50%) scale(1);
      -ms-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 4px;
          border-radius: 4px;
  padding: 40px;
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    min-height: 581px;
  }
}

.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
  -webkit-transition: fill var(--transition);
  -o-transition: fill var(--transition);
  transition: fill var(--transition);
}

.modal__icon {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.modal__close:hover .modal__icon,
.modal__close:focus .modal__icon {
  fill: var(--accent-color);
}

/* форма модального вікна */
.form-text {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.13;
  letter-spacing: 0.03em;
  text-align: center;
  padding-bottom: 2px;
}

.form-field {
  position: relative;
}

.form-field__label {
  display: block;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
  margin-top: 10px;
}

.form-field__input {
  width: 100%;
  padding: 10px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-border-radius: 4px;
          border-radius: 4px;
  -webkit-transition: border-color var(--transition);
  -o-transition: border-color var(--transition);
  transition: border-color var(--transition);
}

.form-field__input:focus, .form-field__input:hover {
  outline: none;
  border-color: var(--accent-color);
}

.form-field__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  fill: currentColor;
  -webkit-transition: fill var(--transition);
  -o-transition: fill var(--transition);
  transition: fill var(--transition);
}

.modal-textarea:hover,
.modal-textarea:focus {
  outline: none;
  border-color: var(--accent-color);
}

.form-field__input:focus + .form-field__icon,
.form-field__input:hover + .form-field__icon {
  fill: var(--accent-color);
}

.form-field__textarea {
  width: 100%;
  height: 138px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-border-radius: 4px;
          border-radius: 4px;
  padding: 12px 16px;
  -webkit-transition: border-color var(--transition);
  -o-transition: border-color var(--transition);
  transition: border-color var(--transition);
}

.form-field__textarea::-webkit-input-placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-field__textarea:-ms-input-placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-field__textarea::-ms-input-placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-field__textarea::placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.checkbox {
  margin-top: 20px;
  padding-left: 12px;
}

.checkbox__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox__icon {
  position: absolute;
  top: 2px;
}

.checkbox__label {
  position: relative;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  padding-left: 20px;
}

.is-hidden-icon {
  opacity: 0;
  visibility: hidden;
}

.checkbox-icon-checked {
  position: absolute;
  top: 2px;
  fill: #ffffff;
  background-color: var(--accent-color);
  -webkit-border-radius: 2px;
          border-radius: 2px;
}

.checkbox__input:checked ~ .is-hidden-icon {
  visibility: visible;
  opacity: 1;
}

.checkbox__link {
  color: var(--accent-color);
}

.form-field__button {
  display: block;
  padding: 10px 55px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  background-color: var(--accent-color);
  -webkit-transition: background-color var(--transition), -webkit-box-shadow var(--transition);
  transition: background-color var(--transition), -webkit-box-shadow var(--transition);
  -o-transition: background-color var(--transition), box-shadow var(--transition);
  transition: background-color var(--transition), box-shadow var(--transition);
  transition: background-color var(--transition), box-shadow var(--transition), -webkit-box-shadow var(--transition);
  border: none;
  margin: auto;
  margin-top: 30px;
}

.form-field__button:hover, .form-field__button:focus {
  background-color: #188ce8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.filtr {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.filtr__items:not(:first-child) {
  margin-left: 8px;
}

.filtr__btn {
  display: block;
  padding: 6px 22px;
  border: transparent;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  cursor: pointer;
  background-color: var(--bg-second-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  -webkit-transition: background-color var(--transition), color var(--transition), -webkit-box-shadow var(--transition);
  transition: background-color var(--transition), color var(--transition), -webkit-box-shadow var(--transition);
  -o-transition: background-color var(--transition), color var(--transition), box-shadow var(--transition);
  transition: background-color var(--transition), color var(--transition), box-shadow var(--transition);
  transition: background-color var(--transition), color var(--transition), box-shadow var(--transition), -webkit-box-shadow var(--transition);
}

.filtr__btn:hover, .filtr__btn:focus {
  background-color: var(--accent-color);
  color: #ffffff;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.list-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.list-flex__item:nth-child(3n + 2) {
  margin-right: 30px;
  margin-left: 30px;
}

.list-flex__item:nth-last-child(-n + 6) {
  margin-top: 30px;
}

.list-flex__link {
  display: block;
  text-decoration: none;
}

.list-flex__link:hover, .list-flex__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  -webkit-transition: -webkit-box-shadow var(--transition);
  transition: -webkit-box-shadow var(--transition);
  -o-transition: box-shadow var(--transition);
  transition: box-shadow var(--transition);
  transition: box-shadow var(--transition), -webkit-box-shadow var(--transition);
}

.overlay {
  position: relative;
  overflow: hidden;
}

.overlay__element {
  position: absolute;
  padding: 63px 24px;
  width: 100%;
  height: 294px;
  background: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform var(--transition);
  transition: -webkit-transform var(--transition);
  -o-transition: transform var(--transition);
  transition: transform var(--transition);
  transition: transform var(--transition), -webkit-transform var(--transition);
}

.list-flex__link:hover .overlay__element {
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
}

.overlay__paragraph {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.list-flex__content {
  padding: 30px 24px;
  border: 1px solid #eeeeee;
  border-top: 0px;
}

.list-flex__headline {
  margin-bottom: 4px;
  color: var(--primary-text-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
}

.list-flex__text {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.87;
}
/*# sourceMappingURL=main.css.map */