/* Постоянные клиенты */

.client-title {
  line-height: 1.16;
  margin-bottom: 50px;
}
.client-list {
  display: flex;
}
.client-list__item:not(:first-child) {
  margin-left: 30px;
}
.client-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color var(--transition);
  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }
}
.client-list__icon {
  fill: #afb1b8;
  transition: fill var(--transition);
}
.client-list__link:hover .client-list__icon,
.client-list__link:focus .client-list__icon {
  fill: var(--accent-color);
}
