/* form */
.footer-form {
  text-align: center;
  @media screen and (min-width: 768px) {
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: flex-end;
    margin-left: 93px;
    margin-top: 0;
  }
}
.footer-form__label {
  display: block;
  @extend %text;
  letter-spacing: 0.03em;
}
.footer-form__input {
  width: 450px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--primary-color);
  background-origin: border-box;
  padding-left: 16px;
  caret-color: #ffffff;
  color: #ffffff;
  &:hover,
  &:focus {
    outline: none;
    border: 1px solid var(--accent-color);
  }
  @media screen and(min-width:1200px) {
    width: 358px;
  }
}
.footer-form__input::placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.03em;
}
.footer-form__button {
  display: inline-flex;
  margin-left: 12px;
  height: 50px;
  padding: 10px 28px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: var(--accent-color);
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  transition: background-color var(--transition), box-shadow var(--transition);
  margin-top: 20px;
  &:hover,
  &:focus {
    background-color: #188ce8;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
  @media screen and(min-width:1200px) {
    margin-top: 0;
  }
}
.footer-form__icon {
  margin-left: 10px;
}
