/* Section hero */
.hero {
  margin: 0 auto;
  background-color: #c4c4c4;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  // background-image: linear-gradient(to right, rgba(47, 48, 58, 0.5), rgba(47, 48, 58, 0.3)),
  //   url(../images/heroimg.jpg);
  background-position: center;
  background-size: cover;

  @media screen and (max-width: 767px) {
    max-width: 480px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.5), rgba(47, 48, 58, 0.3)),
      url(../images/mobile/mobilehero@1x.jpeg);
  }
  @media (min-device-pixel-ratio: 2), (min-resolutiion: 192dpi), (min-resollution: 2dppx) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.5), rgba(47, 48, 58, 0.3)),
      url(../images/mobile/mobelehero@2x.img);
    // background-size: 480px auto;
  }
  // @media screen and (min-device-pixel-ratio: 3),
  //   screen and (min-resolutiion: 288dpi),
  //   screen and (min-resollution: 3dppx) {
  //   background-image: linear-gradient(to right, rgba(47, 48, 58, 0.5), rgba(47, 48, 58, 0.3)),
  //     url(../images/headerimg@3x.jpg);
  // }
}

.hero__title {
  text-align: center;
  margin: auto;
  font-weight: 900;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 26px;
  line-height: 1.61;
  max-width: 360px;

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
    max-width: 650px;
  }
}
/* кнопка в hero */
.hero__button {
  display: block;
  margin: auto;
  margin-top: 30px;
  padding: 10px 33px;
  color: #ffffff;
  background-color: var(--accent-color);
  font-style: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border: 0;
  border-radius: 4px;
  transition: background-color var(--transition), box-shadow var(--transition);
  &:hover,
  &:focus {
    background-color: #188ce8;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}
