// modal
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  visibility: visible;
  opacity: 1;
  transition: opacity var(--transition), visibility var(--transition);
  z-index: 4;
  overflow-y: scroll;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  position: relative;
  margin-top: 93px;
  margin-left: 15px;
  margin-right: 15px;
  min-height: 609px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;

  @media screen and (min-width: 480px) {
    width: 450px;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    margin: 0;
  }

  @media screen and (min-width: 1200px) {
    top: 50%;
    width: 528px;
    min-height: 581px;
  }
}
.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
  transition: fill var(--transition);
}
.modal__icon {
  display: inline-flex;
}
.modal__close:hover .modal__icon,
.modal__close:focus .modal__icon {
  fill: var(--accent-color);
}
/* форма модального вікна */
.form-text {
  font-size: 12px;
  font-weight: 700;
  line-height: 1.13;
  letter-spacing: 0.03em;
  text-align: center;
  padding-bottom: 2px;
  @media screen and(min-width:480px) {
    font-size: 20px;
  }
}
.form-field {
  position: relative;
}
.form-field__label {
  display: block;
  font-size: 10px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
  margin-top: 10px;
  @media screen and(min-width:480px) {
    font-size: 12px;
  }
}

.form-field__input {
  width: 100%;
  padding: 10px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--transition);
  &:focus,
  &:hover {
    outline: none;
    border-color: var(--accent-color);
  }
}

.form-field__label:hover,
.form-field__label:focus {
  @media screen and(max-width: 767px) {
    color: var(--accent-color);
  }
}
.form-field__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  fill: currentColor;
  transition: fill var(--transition);
}
.modal-textarea:hover,
.modal-textarea:focus {
  outline: none;
  border-color: var(--accent-color);
}
.form-field__input:focus + .form-field__icon,
.form-field__input:hover + .form-field__icon {
  fill: var(--accent-color);
}
.form-field__textarea {
  width: 100%;
  height: 138px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  transition: border-color var(--transition);
  &:hover,
  &:focus {
    outline: none;
    border-color: var(--accent-color);
  }
  &::placeholder {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
    @media screen and(min-width:480px) {
      font-size: 14px;
    }
  }
}
.checkbox {
  margin-top: 20px;
  padding-left: 12px;
}
.checkbox__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.checkbox__icon {
  position: absolute;
  top: 2px;
}
.checkbox__label {
  position: relative;
  display: inline-block;
  font-size: 10px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  padding-left: 20px;
  @media screen and (min-width: 480px) {
    font-size: 14px;
  }
}
.is-hidden-icon {
  opacity: 0;
  visibility: hidden;
}
.checkbox-icon-checked {
  position: absolute;
  top: 2px;
  fill: #ffffff;
  background-color: var(--accent-color);
  border-radius: 2px;
}
.checkbox__input:checked ~ .is-hidden-icon {
  visibility: visible;
  opacity: 1;
}
.checkbox__link {
  color: var(--accent-color);
}
.form-field__button {
  display: block;
  padding: 10px 55px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;

  border-radius: 4px;
  background-color: var(--accent-color);

  transition: background-color var(--transition), box-shadow var(--transition);
  border: none;
  margin: auto;
  margin-top: 30px;
  &:hover,
  &:focus {
    background-color: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
  @media screen and (min-width: 480px) {
    font-size: 16px;
  }
}
