/* section princeples of work*/
.hidden {
  width: 1px;
  height: 1px;
  overflow: hidden;
  opacity: 0;
  margin-top: -1px;
}
.benefits-list {
  display: block;
  width: 100%;

  @media screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: nowrap;
  }
}

.benefits-list__item:not(:first-child) {
  margin-top: 30px;
  @media screen and (min-width: 768px) {
    margin-top: 0;
  }
}
// .benefits-list__item:not(:first-child) {
//   @media screen and (min-width: 1200px) {
//     margin-left: 30px;
//   }
// }
.benefits-list__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f4fa;
  border-radius: 4px;
  height: 120px;
}
.benefits-list__heading {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  // padding-top: 30px;
  margin-top: 30px;
  letter-spacing: 0.03em;
  text-align: center;
  @media screen and(min-width:768px ) {
    text-align: left;
  }
}
.benefits-list__text {
  margin-top: 10px;
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
