/* section princeples of work*/
.hidden {
  width: 1px;
  height: 1px;
  overflow: hidden;
  opacity: 0;
  margin-top: -1px;
}
.benefits-list {
  display: block;
  width: 100%;
  @media screen and (min-width: 768px) {
    display: flex;
    width: calc(50% - 30px);
  }
}
.benefits-list__item:not(:first-child) {
  @media screen and (min-width: 1200px) {
    margin-left: 30px;
  }
}
.benefits-list__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f4fa;
  border-radius: 4px;
  height: 120px;
}
.benefits-list__heading {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  padding-top: 30px;
}
.benefits-list__text {
  margin-top: 10px;
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
}
