.section.contain {
  padding-bottom: 0;
  padding-top: 0;
}
.container-work {
  display: none;
  @media screen and(min-width:1200px) {
    display: block;
  }
}
.heading {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.13;
}
.work-list {
  display: flex;
  margin-top: 50px;
}
.work-list__item:not(:first-child) {
  margin-left: 30px;
}
.work-list__thumb {
  position: relative;
}
.work-list__wrap {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  border: 1px solid #000000;
}
.work-list__text {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.17;
  color: #ffffff;
  text-transform: uppercase;
}
