.list-flex {
  @media screen and (max-width: 767px) {
    // margin-bottom: 30px;
  }

  @media screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  @media screen and (min-width: 1200px) {
    grid-template-columns: repeat(3, 1fr);

    //   display: flex;
    // flex-wrap: wrap;
  }
}
// .list-flex__item:nth-child(3n + 2) {
//   margin-right: 30px;
//   margin-left: 30px;
// }
// .list-flex__item:nth-last-child(-n + 6) {
//   margin-top: 30px;
// }
.list-flex__item:not(:first-child) {
  @media screen and(max-width: 767px) {
    margin-top: 30px;
  }
}

.list-flex__link {
  display: block;
  text-decoration: none;
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    transition: box-shadow var(--transition);
  }
}
.overlay {
  position: relative;
  overflow: hidden;
}
.overlay__element {
  position: absolute;
  padding: 63px 24px;
  width: 100%;
  height: 294px;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(0);
  transition: transform var(--transition);
}
.list-flex__link:hover .overlay__element {
  transform: translateY(-100%);
}
.overlay__paragraph {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.list-flex__content {
  padding: 30px 24px;
  border: 1px solid #eeeeee;
  border-top: 0px;
}
.list-flex__headline {
  margin-bottom: 4px;
  color: var(--primary-text-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
}
.list-flex__text {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.87;
}
