body {
  color: $primary-text-color;
  font-family: $main-font;
}
ul,
li,
h1,
h2,
h3,
p {
  list-style: none;
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  margin: auto;
}
.section {
  padding-top: 60px;
  padding-bottom: 60px;
  // margin-top: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
a {
  text-decoration: none;
}

.heading {
  text-align: center;
  font-size: 28px;
  line-height: 1.17;
  font-weight: 700;
  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: 1.13;
  }
}
