body {
  color: $primary-text-color;
  font-family: $main-font;
}
ul,
li,
h1,
h2,
h3,
p {
  list-style: none;
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
}
.section {
  padding-top: 60px;
  @media screen and (min-width: 768px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
a {
  text-decoration: none;
}
